.navbar-light .navbar-brand {
    color: #0062cc;
}

.jumbotron{
  background-image:url(Background.jpg);
  background-size: cover;
}

.jumbotron img {
  height: 400px;
}

.carousel img{
  max-height: 600px;
}
